* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Shared style*/
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 900;

}

.color-orange {
  color: orange;
}

.btn {
  background-color: chocolate;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: beige;
  padding: 18px 35px;
  cursor: pointer;
  
}

.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}


.section-heading h2{
  font-size: 32px;
  margin-bottom: 30px;
}


.section-heading p{
  font-size: 32px;
  margin-bottom: 30px;
}


/*main style*/
header {
  background-color:rgb(225, 223, 220);
  padding-top: 50px;
  background: url(../images/developer.png), url(../images/header_bg.png), #f6eadd;
  background-repeat: no-repeat;
  background-position: left top, right bottom, center;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  margin-left: 0px auto;
  display: flex;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;

}

nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner {
 
  margin: 41px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2{
  font-size: 45px;
  font-weight: bolder;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1{
  font-size: 85px;
  font-weight: bolder;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p{
  font-size: 18px;
  font-weight: normal;
  color: #757575;
  margin-bottom: 20px;
  line-height: 20px;
}

#banner .banner-image image {
  max-width: 585px;
  ;
}


#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #f3d2f0;
  padding: 151px 157px;
}

#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
  font-size:20px;

}

.about-info .info-card p {

    font-size: 20px;
  font-weight: bolder;
  color: rgb(66, 61, 61);
  margin-bottom: 5px;
}

.about-info .info-card h4{

  font-size: 20px;
  font-weight: bolder;
  color: rgb(18, 16, 16);
  margin-bottom: 5px;
}

#about, #skills, #resume
{
  padding: 30px;
}


#skills .skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0  auto;
  
}

#skills .skills-container .skill-box {
  display: flex;
  gap: 24px;
}

.skill-box .skill-card {
  padding: 30px;
  border: 1px solid red;
  box-shadow: 0 5px 50px 0px rgba(0, 0, 0, 0.534);
}

.skill-card h3 {
  font-size:20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.resume-container hr{
  margin: 30px 0;
}

#resume .resume-container {   
width: 71%;
max-width: 1140px;
margin: 113px auto 0;
display: flex;
gap: 24px;


}

.resume-container .section-title{
  color:#474747;
  font-size: 30px;
  margin-bottom: 30px;
  
}

.resume-card {
  max-width: 511px;
  margin-right: 47px;
}

.resume-card .card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}

.resume-card .card-info {
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 10px;
  color: #757575;
}

.resume-card .card-text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  color: #757575;
}
