* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Shared style*/
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
  font-size: 45px;
  font-weight: 900;

}

.color-orange {
  color: orange;
}

.btn {
  background-color: chocolate;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: beige;
  padding: 18px 35px;
  cursor: pointer;
  
}

/*main style*/
header {
  background-color:blanchedalmond;
  padding-top: 50px;
  background: url(../images/developer.png), url(../images/header_bg.png), #f8bd7e;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

nav{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  margin-left: 0px auto;
  display: flex;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;

}

nav .menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

#banner {
 
  margin: 41px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2{
  font-size: 45px;
  font-weight: bolder;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1{
  font-size: 85px;
  font-weight: bolder;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p{
  font-size: 18px;
  font-weight: normal;
  color: #757575;
  margin-bottom: 20px;
  line-height: 20px;
}

#banner .banner-image image {
  max-width: 585px;
  ;
}